:root {
	--font-color1: #FCF8E8;
	--font-color2: #FB4243;
}

* {

	font-family: PoplarStd;
	color: var(--font-color1);
	scroll-behavior: smooth;
}


@font-face {
	font-family: PoplarStd;
	src: url('PoplarStd.otf');
}


html {
	scroll-behavior: smooth;
}

body {
	margin: 0;

}

/* Header & NAV */

header {

	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
	min-width: 100%;
	background-color: #000000;
}


nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

nav>ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style-type: none;
	font-size: 30px;
	width: 25vw;
	padding-right: 2vw;
	text-shadow: var(--font-color2) 2px 0 10px;
}

nav>ul>li:hover {
	color: var(--font-color2);
	cursor: pointer;
}

li>a {
	color: inherit;
	text-decoration: none;
}

.logo1 {
	height: 120px;
	width: 120px;
}

main {
	margin: 0;
	background-color: #000000;
	width: 100%;

}

section {
	height: 100vh;
}

#home {
	padding-top: 140px;

}

.video-wrap {
	height: 35vw;
	width: 100%;
	background: none;
	overflow: hidden;
}

.video-banner {
	position: relative;
	bottom: 30vw;
	z-index: 1;
	width: 100%;
}

.banner-text {
	position: relative;
	top: 15vw;
	z-index: 2;
	text-align: center;
}

.logo2 {
	height: 150px;
	width: 150px;
	opacity: 0;
	animation: opacityOn 0.1s 1.5s linear 1 forwards;
}


.title2 {
	position: relative;
	font-size: 50px;
	color: var(--font-color1);
	bottom: 20px;
	opacity: 0;
	animation: opacityOn 0.1s 3.0s linear 1 forwards;
	text-shadow: var(--font-color2) 2px 0 10px;
}

.red {
	color: var(--font-color2);
}

@keyframes opacityOn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1
	}
}

#about {
	background: radial-gradient(circle, rgba(250, 250, 250, 1) 0%, rgba(0, 0, 0, 1) 41%);

}

.album-info {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	font-size: 28px;
	padding-top: 250px;
	height: 80vh;
	width: 70%;
	margin-left: 15%;

}

.album-info img {
	height: 500px;
	width: 509px;
	animation: slide-in-image;
	box-shadow: 10px 5px 5px black;
	animation-timeline: scroll();
	animation-range: 5% 28%;
	animation-fill-mode: forwards;
}

.album-info>p {
	width: 400px;
	font-size: 30px;
	text-shadow: 10px 5px 5px black;
	padding-top: 100px;
	line-height: 1.5;
	animation: slide-in-text;
	animation-timeline: scroll();
	animation-range: 5% 28%;
	animation-fill-mode: forwards;


}

@keyframes slide-in-image {
	from {
		transform: translateX(-500%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes slide-in-text {
	from {
		transform: translateX(500%);
	}

	to {
		transform: translateX(0%);
	}

}

@keyframes slide-in-image-mobile {
	from {
		transform: translateX(-250%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes slide-in-text-mobile {
	from {
		transform: translateX(250%);
	}

	to {
		transform: translateX(0%);
	}

}


p>a>span:hover {
	color: var(--font-color1);
	cursor: pointer;
}

p>a {
	color: inherit;
	text-decoration: none;
}



.band-image {
	background: url("Resources/Band01.jpg");
	background-attachment: fixed;
	background-position: center;
	margin: 0;
	height: 50vh;
	width: 100%;
	clip-path: polygon(0 20%, 100% 0, 100% 85%, 0 100%);
}

.band-image2 {

	background-image: url("Resources/band04.webp");
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	height: 50vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	clip-path: polygon(0 20%, 100% 0, 100% 85%, 0 100%);
}

.events {
	display: block;
	margin: auto;
	width: 100%;
	padding-top: 10vh;
	padding-left: 30vw;
	animation: slide-in-events;
	animation-timeline: scroll();
	animation-range: 25% 55%;
	animation-fill-mode: forwards;
}

@keyframes slide-in-events {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes slide-in-events-mobile {
	from {
		transform: translateX(-120%) scale(0.9);
	}

	to {
		transform: translateX(0%) scale(0.9);
	}

}

.band-image3 {
	background-image: url("Resources/Band03.webp");
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	height: 50vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	clip-path: polygon(0 20%, 100% 0, 100% 85%, 0 100%);
}

.container {
	position: relative;
	left: 20vw;
	width: 56.5vw;
	height: 48vw;
	padding-top: 10rem;
	overflow-x: visible;
	transform: scale(0.1);
	animation: zoom-in;
	animation-timeline: scroll();
	animation-range: 68% 78%;
	animation-fill-mode: forwards;

}

.carousel {
	list-style: none;
	margin: 0;
	padding: 0;

	display: grid;
	gap: 3rem;
	grid-auto-flow: column;
	grid-auto-columns: 100%;
	gap: 10rem;

	overflow-x: auto;

	scroll-snap-type: x mandatory;

	anchor-name: --carousel;

	overflow-x: hidden;

	scroll-marker-group: after;

	&::scroll-marker-group {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		top: 2vw;
		grid-auto-flow: column;
		padding: 1vw;
		gap: 3vw;

	}


	>li {
		scroll-snap-align: center;
	}

	>li::scroll-marker {
		content: ' ';
		width: 1vw;
		height: 1vw;
		aspect-ratio: 1/1;
		border-radius: 100%;
		border: 1px solid white;
	}

	>li {
		&::scroll-marker:target-current {
			background: White;
			border-color: White;
		}
	}

	&::scroll-button(*) {
		position: fixed;
		position-anchor: --carousel;
		margin: 1rem;
		background: none;
		color: var(--font-color2);
		border: 0;
	}

}



@keyframes zoom-in {

	from {
		transform: scale(0.1);
	}

	to {
		transform: scale(1.0);
	}

}

.video {
	border: 3px solid silver;
	height: 0;
	position: relative;
	padding-bottom: 56%;


}

.container iframe,
.container object,
.container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.band-image4 {
	background-image: url("Resources/Matt01.jpg");
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	height: 50vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	clip-path: polygon(0 20%, 100% 0, 100% 85%, 0 100%);
}

.links {
	display: flex;
	justify-content: space-evenly;
	padding-top: 5%;
	padding-left: 30%;
	width: 40%;
}

.icon:hover {
	animation: iconrotate 0.5s ease-in infinite;
	color: var(--font-color2);
}

.subscribe {
	width: 100%;
	margin: auto;
	display: block;
	font-size: 28px;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 2%;
}

.subscribe>p {
	margin: auto;
	display: block;
	width: 60%;
}

form {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: auto;
	width: 100%;

}

label {
	font-size: 28px;
	padding: 10px 0px;
}



input {
	height: 30px;
	width: 250px;
	color: var(--font-color1);
	font-size: 25px;
	border: 2px solid var(--font-color1);
	background-color: black;
	text-align: center;
	padding-top: 5px;


}

.mailing-list {
	padding: 10px 0px;
	/*amends padding between inputs*/
}

#button1 {
	margin-top: 15px;
	background-color: var(--font-color1);
	color: black;
	height: 40px;
	width: 258px;
	border: 2px solid var(--font-color1);
	text-align: center;
	font-size: 25px;
	padding-top: 7px;
	overflow: hidden;
	z-index: 1;
	transition: color 0.3s;
}

#button1::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: var(--font-color1);
	/* fill color */
	z-index: -1;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.4s cubic-bezier(.77, 0, .18, 1);
}

#button1:hover {
	color: var(--font-color2);
	/* text color on hover */
}

#button1:hover::before {
	transform: scaleX(1);
}




@keyframes iconrotate {
	0% {
		transform: scale(1.5);
	}

	25% {
		transform: scale(1.5) rotate(25deg);

	}

	75% {
		transform: scale(1.5) rotate(-25deg);

	}

	100% {
		transform: scale(1.5);
	}
}

.eng-logo {
	display: block;
	margin: auto;
	height: 156px;
	width: 442px;
	padding-top: 4%;
}







/* MEDIA CALLS*/











@media (max-width: 480px) {

	html,
	body {
		overflow-x: clip;
	}

	header {
		position: sticky;
		top: 0;
	}


	.logo1 {
		height: 100px;
		width: 100px;
	}

	.nav-list {
		display: none;
		flex-direction: column;
		background: #000;
		position: absolute;
		top: 30%;
		right: -39%;
		width: 200px;
		z-index: 100;
	}

	.nav-list.open {
		display: flex;
	}

	.hamburger {
		position: absolute;
		right: 5%;
		top: 10%;
		width: 40px;
		height: 40px;
		background: none;
		border: none;
		cursor: pointer;
		z-index: 101;

	}

	.hamburger span {
		display: block;
		height: 4px;
		width: 30px;
		background: var(--font-color1, #fff);
		margin: 5px 0;
		border-radius: 2px;
		transition: 0.3s;
	}

	nav>ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style-type: none;
		font-size: 20px;
		width: 25vw;
		padding-right: 2vw;
		text-shadow: var(--font-color2) 2px 0 10px;
	}



	.video-wrap {
		height: 100vw;
		width: 100%;
		background: none;
		overflow: hidden;
		margin-top: -30%;

	}

	.video-banner {
		position: relative;
		z-index: 1;
		width: 140%;
		margin-left: -20%;
	}

	.logo2 {
		height: 70px;
		width: 70px;
		opacity: 0;
		animation: opacityOn 0.1s 1.5s linear 1 forwards;
	}

	.banner-text {
		position: relative;
		top: 35vw;
		z-index: 2;
		text-align: center;
	}


	.title2 {
		position: relative;
		font-size: 20px;
		color: var(--font-color1);
		bottom: 20px;
		opacity: 0;
		animation: opacityOn 0.1s 3.0s linear 1 forwards;
		text-shadow: var(--font-color2) 2px 0 10px;
	}

	.band-image {
		background: url("Resources/Band01.jpg");
		background-attachment: fixed;
		background-size: 100%;
		background-position: center 60%;
		width: 100%;
		height: 60vw;
		margin: 0;
		margin-top: -60%;
		border-top: 50px;
		clip-path: polygon(0 20%, 100% 0, 100% 85%, 0 100%);
	}


	.album-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		font-size: 20px;
		/*padding-top: 250px;*/
		height: 40vh;
		width: 100%;
		margin-left: 0
	}


	.album-info img {
		height: 190px;
		width: 199px;
		box-shadow: 10px 5px 5px black;
		animation: slide-in-image-mobile;
		animation-timeline: scroll();
		animation-range: 5% 25%;

	}

	.album-info>p {
		width: 90vw;
		font-size: 18px;
		text-shadow: 10px 5px 5px black;
		padding-top: 10px;
		line-height: 1.5;
		padding-left: 5vw;
		animation: slide-in-text-mobile;
		animation-timeline: scroll();
		animation-range: 5% 25%;

	}


	.band-image2 {

		background-image: url("Resources/band04.webp");
		background-attachment: fixed;
		background-size: 100%;
		background-position: center 60%;
		margin: 0;
		height: 60vw;
		width: 100%;
		background-repeat: no-repeat;
		clip-path: polygon(0 20%, 100% 0, 100% 85%, 0 100%);

	}



	.events {
		display: block;
		margin: auto;
		width: 100%;
		margin-top: 2%;
		animation: slide-in-events-mobile;
		animation-timeline: scroll();
		animation-range: 30% 50%;
		animation-fill-mode: forwards;
		padding-left: 0vw;
	}



	.band-image3 {
		background-image: url("Resources/Band03.webp");
		background-attachment: fixed;
		background-size: 100%;
		background-position: center 60%;
		margin: 0;
		height: 60vw;
		width: 100%;
		background-repeat: no-repeat;
		clip-path: polygon(0 20%, 100% 0, 100% 85%, 0 100%);
		margin-top: 50%;
	}

	.band-image4 {
		background-image: url("Resources/Matt01.jpg");
		background-attachment: fixed;
		background-size: 100%;
		margin: 0;
		height: 50vh;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		clip-path: polygon(0 20%, 100% 0, 100% 85%, 0 100%);
	}

	.container {
		position: relative;
		left: 0.5vw;
		width: 98vw;
		height: 75vw;
		padding-top: 10rem;
		overflow-x: visible;
		transform: scale(0.1);
		animation: zoom-in;
		animation-timeline: scroll();
		animation-range: 55% 75%;
		animation-fill-mode: forwards;

	}

	.carousel {
		list-style: none;
		margin: 0;
		padding: 0;

		display: grid;
		gap: 3rem;
		grid-auto-flow: column;
		grid-auto-columns: 100%;
		gap: 10rem;

		overflow-x: auto;

		scroll-snap-type: x mandatory;

		anchor-name: --carousel;

		overflow-x: hidden;

		scroll-marker-group: after;

		&::scroll-marker-group {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			top: 10vw;
			grid-auto-flow: column;
			padding: 1vw;
			gap: 7vw;

		}


		>li {
			scroll-snap-align: center;
		}

		>li::scroll-marker {
			content: ' ';
			width: 5vw;
			height: 5vw;
			aspect-ratio: 1/1;
			border-radius: 100%;
			border: 1px solid white;
		}

		>li {
			&::scroll-marker:target-current {
				background: White;
				border-color: White;
			}
		}

		&::scroll-button(*) {
			position: fixed;
			position-anchor: --carousel;
			margin: 1rem;
			background: none;
			color: var(--font-color2);
			border: 0;
		}


	}

	.links {
		display: flex;
		justify-content: space-evenly;
		padding-top: 15%;
		padding-left: 10%;
		width: 80%;
	}

	.subscribe {
		width: 100%;
		margin: auto;
		display: block;
		font-size: 28px;
		text-align: center;
		padding-top: 50%;
		padding-bottom: 2%;
	}

	.eng-logo {
		height: 76px;
		width: 352px;
		padding-top: 15%;

	}

}










@media (max-width: 768px) and (min-width: 481px) {

	html,
	body {
		overflow-x: clip;
	}

	header {
		position: sticky;
		top: 0;
	}


	.logo1 {
		height: 120px;
		width: 120px;
	}

	.nav-list {
		display: none;
		flex-direction: column;
		background: #000;
		position: absolute;
		top: 40%;
		right: -10%;
		width: 200px;
		z-index: 100;
	}

	.nav-list.open {
		display: flex;
	}

	.hamburger {
		position: absolute;
		right: 6%;
		top: 6%;
		width: 50px;
		height: 50px;
		background: none;
		border: none;
		cursor: pointer;
		z-index: 101;

	}

	.hamburger span {
		display: block;
		height: 4px;
		width: 30px;
		background: var(--font-color1, #fff);
		margin: 5px 0;
		border-radius: 2px;
		transition: 0.3s;
	}

	nav>ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style-type: none;
		font-size: 20px;
		width: 25vw;
		padding-right: 2vw;
		text-shadow: var(--font-color2) 2px 0 10px;
	}



	.video-wrap {
		height: 100vw;
		width: 100%;
		background: none;
		overflow: hidden;
		margin-top: -20%;

	}

	.video-banner {
		position: relative;
		z-index: 1;
		width: 140%;
		margin-left: -20%;
	}

	.logo2 {
		height: 100px;
		width: 100px;
		opacity: 0;
		animation: opacityOn 0.1s 1.5s linear 1 forwards;
	}

	.banner-text {
		position: relative;
		top: 35vw;
		z-index: 2;
		text-align: center;
	}


	.title2 {
		position: relative;
		font-size: 28px;
		color: var(--font-color1);
		bottom: 20px;
		opacity: 0;
		animation: opacityOn 0.1s 3.0s linear 1 forwards;
		text-shadow: var(--font-color2) 2px 0 10px;
	}

	.band-image {
		background: url("Resources/Band01.jpg");
		background-attachment: fixed;
		background-size: 100%;
		background-position: center 60%;
		width: 100%;
		height: 60vw;
		margin: 0;
		margin-top: -60%;
		border-top: 50px;
		clip-path: polygon(0 20%, 100% 0, 100% 85%, 0 100%);
	}


	.album-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		font-size: 25px;
		padding-top: 50%;
		height: 40vh;
		width: 100%;
		margin-left: 0
	}


	.album-info img {
		height: 300px;
		width: 309px;
		box-shadow: 10px 5px 5px black;
		animation: slide-in-image-mobile;
		animation-timeline: scroll();
		animation-range: 5% 20%;

	}

	.album-info>p {
		width: 50vw;
		text-shadow: 10px 5px 5px black;
		padding-top: 10px;
		line-height: 1.5;
		padding-left: 25vw;
		animation: slide-in-text-mobile;
		animation-timeline: scroll();
		animation-range: 5% 20%;

	}


	.band-image2 {

		background-image: url("Resources/band04.webp");
		background-attachment: fixed;
		background-size: 100%;
		background-position: center 60%;
		margin: 0;
		height: 60vw;
		width: 100%;
		background-repeat: no-repeat;
		clip-path: polygon(0 20%, 100% 0, 100% 85%, 0 100%);

	}



	.events {
		display: block;
		margin: auto;
		width: 100%;
		margin-top: 2%;
		animation: slide-in-events-mobile;
		animation-timeline: scroll();
		animation-range: 30% 50%;
		animation-fill-mode: forwards;
		padding-left: 0vw;
	}



	.band-image3 {
		background-image: url("Resources/Band03.webp");
		background-attachment: fixed;
		background-size: 100%;
		background-position: center 60%;
		margin: 0;
		height: 60vw;
		width: 100%;
		background-repeat: no-repeat;
		clip-path: polygon(0 20%, 100% 0, 100% 85%, 0 100%);
		margin-top: 50%;
	}

	.band-image4 {
		background-image: url("Resources/Matt01.jpg");
		background-attachment: fixed;
		background-size: 100%;
		margin: 0;
		height: 50vh;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		clip-path: polygon(0 20%, 100% 0, 100% 85%, 0 100%);
	}

	.container {
		position: relative;
		left: 0.5vw;
		width: 98vw;
		height: 75vw;
		padding-top: 10rem;
		overflow-x: visible;
		transform: scale(0.1);
		animation: zoom-in;
		animation-timeline: scroll();
		animation-range: 55% 75%;
		animation-fill-mode: forwards;

	}

	.carousel {
		list-style: none;
		margin: 0;
		padding: 0;

		display: grid;
		gap: 3rem;
		grid-auto-flow: column;
		grid-auto-columns: 100%;
		gap: 10rem;

		overflow-x: auto;

		scroll-snap-type: x mandatory;

		anchor-name: --carousel;

		overflow-x: hidden;

		scroll-marker-group: after;

		&::scroll-marker-group {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			top: 10vw;
			grid-auto-flow: column;
			padding: 1vw;
			gap: 7vw;

		}


		>li {
			scroll-snap-align: center;
		}

		>li::scroll-marker {
			content: ' ';
			width: 3vw;
			height: 3vw;
			aspect-ratio: 1/1;
			border-radius: 100%;
			border: 1px solid white;
		}

		>li {
			&::scroll-marker:target-current {
				background: White;
				border-color: White;
			}
		}

		&::scroll-button(*) {
			position: fixed;
			position-anchor: --carousel;
			margin: 1rem;
			background: none;
			color: var(--font-color2);
			border: 0;
		}


	}

	.subscribe {
		width: 100%;
		margin: auto;
		display: block;
		font-size: 28px;
		text-align: center;
		padding-top: 30%;
		padding-bottom: 2%;
	}

	.links {
		display: flex;
		justify-content: space-evenly;
		padding-top: 15%;
		padding-left: 10%;
		width: 80%;
	}

	.eng-logo {
		padding-top: 15%;

	}



}










@media (max-width: 1024px) and (min-width: 769px) {

	html,
	body {
		overflow-x: clip;
	}

	header {
		position: sticky;
		top: 0;
	}

	.nav-list {
		display: none;
		flex-direction: column;
		background: #000;
		position: absolute;
		top: 40%;
		right: -10%;
		width: 200px;
		z-index: 100;
	}

	.nav-list.open {
		display: flex;
	}

	.hamburger {
		position: absolute;
		right: 6%;
		top: 6%;
		width: 50px;
		height: 50px;
		background: none;
		border: none;
		cursor: pointer;
		z-index: 101;

	}

	.hamburger span {
		display: block;
		height: 4px;
		width: 30px;
		background: var(--font-color1, #fff);
		margin: 5px 0;
		border-radius: 2px;
		transition: 0.3s;
	}

	.logo1 {
		height: 150px;
		width: 150px;
	}


	.video-wrap {
		height: 60vw;
		width: 100%;
		background: none;
		overflow: hidden;
	}

	.video-banner {
		position: relative;
		bottom: 25vw;
		z-index: 1;
		width: 100%;
	}

	.banner-text {
		position: relative;
		top: 30vw;
		z-index: 2;
		text-align: center;
	}

	.logo2 {
		height: 150px;
		width: 150px;
		opacity: 0;
		animation: opacityOn 0.1s 1.5s linear 1 forwards;
	}

	band-image {
		background: url("Resources/Band01.jpg");
		background-attachment: fixed;
		background-size: 100%;
		background-position: center 60%;
		width: 100%;
		height: 60vw;
		margin: 0;
		margin-top: -60%;
		border-top: 50px;
		clip-path: polygon(0 20%, 100% 0, 100% 85%, 0 100%);
	}

	.band-image4 {
		background-image: url("Resources/Matt01.jpg");
		background-attachment: fixed;
		background-size: 100%;
		margin: 0;
		height: 50vh;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		clip-path: polygon(0 20%, 100% 0, 100% 85%, 0 100%);
	}

	.album-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		font-size: 25px;
		padding-top: 50%;
		height: 40vh;
		width: 100%;
		margin-left: 0
	}



	.album-info img {
		height: 400px;
		width: 409px;
		box-shadow: 10px 5px 5px black;
		animation: slide-in-image-mobile;
		animation-timeline: scroll();
		animation-range: 5% 30%;

	}

	.album-info>p {
		width: 50vw;
		text-shadow: 10px 5px 5px black;
		padding-top: 10px;
		line-height: 1.5;
		padding-left: 25vw;
		animation: slide-in-text-mobile;
		animation-timeline: scroll();
		animation-range: 5% 30%;

	}

	.events {
		display: block;
		margin: auto;
		width: 100%;
		margin-top: 2%;
		animation: slide-in-events-mobile;
		animation-timeline: scroll();
		animation-range: 30% 50%;
		animation-fill-mode: forwards;
		padding-left: 0vw;
	}

	.container {
		position: relative;
		left: 0.5vw;
		width: 98vw;
		height: 75vw;
		padding-top: 10rem;
		overflow-x: visible;
		transform: scale(0.1);
		animation: zoom-in;
		animation-timeline: scroll();
		animation-range: 55% 75%;
		animation-fill-mode: forwards;

	}

	.links {
		display: flex;
		justify-content: space-evenly;
		padding-top: 10%;
		padding-left: 10%;
		width: 80%;
	}

	.subscribe {
		width: 100%;
		margin: auto;
		display: block;
		font-size: 28px;
		text-align: center;
		padding-top: 15%;
		padding-bottom: 0;
	}

	.eng-logo {
		height: 86px;
		width: 362px;
		padding-top: 10%;

	}
}







@media (max-width: 1400px) and (min-width: 1025px) {

	header {
		position: sticky;
	}

	body {
		margin: 0;
		overflow-x: hidden;
	}

	.hamburger {
		display: none;
	}


	nav>ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style-type: none;
		font-size: 25px;
		width: 35vw;
		padding-right: 2vw;
		text-shadow: var(--font-color2) 2px 0 10px;

	}

	.banner-text {
		position: relative;
		top: 15vw;
		z-index: 2;
		text-align: center;
	}

	.logo2 {
		height: 130px;
		width: 130px;
		opacity: 0;
		animation: opacityOn 0.1s 1.5s linear 1 forwards;
	}

	.title2 {
		position: relative;
		font-size: 40px;
		color: var(--font-color1);
		bottom: 20px;
		opacity: 0;
		animation: opacityOn 0.1s 3.0s linear 1 forwards;
		text-shadow: var(--font-color2) 2px 0 10px;
	}



	.album-info {
		display: flex;
		justify-content: space-evenly;
		text-align: center;
		font-size: 28px;
		padding-top: 25%;
		height: 80vh;
		width: 75%;
		margin-left: 15%;

	}


	.album-info img {
		height: 400px;
		width: 409px;
		animation: slide-in-image;
		box-shadow: 10px 5px 5px black;
		animation-timeline: scroll();
		animation-range: 5% 30%;
		animation-fill-mode: forwards;
	}

	.album-info>p {
		width: 400px;
		font-size: 25px;
		text-shadow: 10px 5px 5px black;
		padding-top: 80px;
		line-height: 1.5;
		animation: slide-in-text;
		animation-timeline: scroll();
		animation-range: 5% 30%;
		animation-fill-mode: forwards;


	}

	.events {
		display: block;
		margin: auto;
		width: 100%;
		padding-top: 20vh;
		padding-left: 20vw;
		animation: slide-in-events;
		animation-timeline: scroll();
		animation-range: 25% 55%;
		animation-fill-mode: forwards;
	}

	.container {
		position: relative;
		left: 0;
		width: 80vw;
		margin: 0 auto;
		height: 75vw;
		padding-top: 5%;
		overflow-x: visible;
		transform: scale(0.1);
		animation: zoom-in;
		animation-timeline: scroll();
		animation-range: 65% 78%;
		animation-fill-mode: forwards;

	}

	.subscribe {
		width: 100%;
		margin: auto;
		display: block;
		font-size: 28px;
		text-align: center;
		padding-top: 20%;
		padding-bottom: 2%;
	}
}


@media (max-width: 1600px) and (min-width: 1401px) {

	header {
		position: fixed;
	}

	body {
		margin: 0;
		overflow-x: hidden;
	}

	.hamburger {
		display: none;
	}



	nav>ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style-type: none;
		font-size: 30px;
		width: 30vw;
		padding-right: 2vw;
		text-shadow: var(--font-color2) 2px 0 10px;

	}

	.album-info img {
		height: 400px;
		width: 409px;
		animation: slide-in-image;
		box-shadow: 10px 5px 5px black;
		animation-timeline: scroll();
		animation-range: 10% 42%;
		animation-fill-mode: forwards;
	}

	.album-info>p {
		width: 400px;
		font-size: 25px;
		text-shadow: 10px 5px 5px black;
		padding-top: 80px;
		line-height: 1.5;
		animation: slide-in-text;
		animation-timeline: scroll();
		animation-range: 10% 42%;
		animation-fill-mode: forwards;


	}

	.events {
		display: block;
		margin: auto;
		width: 100%;
		padding-top: 10vh;
		padding-left: 25vw;
		animation: slide-in-events;
		animation-timeline: scroll();
		animation-range: 35% 73%
	}





}

@media (max-width: 4000px) and (min-width: 1601px) {

	header {
		position: fixed;
	}

	body {
		margin: 0;
		overflow-x: hidden;
	}

	.hamburger {
		display: none;
	}





}
