:root {
	--font-color1: #FCF8E8;
	--font-color2: #FB4243;
}

* {

	font-family: PoplarStd;
	color: var(--font-color1);
	scroll-behavior: smooth;
}


@font-face {
	font-family: PoplarStd;
	src: url('PoplarStd.otf');
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	overflow-x: hidden;
}

/* Header & NAV */

header {
	display: block;
	position: fixed;
	z-index: 50;
	width: 100vw;
	background-color: #000000
}


nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

nav>ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style-type: none;
	font-size: 30px;
	width: 25vw;
	padding-right: 2vw;
	text-shadow: var(--font-color2) 2px 0 10px;
}

nav>ul>li:hover {
	color: var(--font-color2);
	cursor: pointer;
}

li>a {
	color: inherit;
	text-decoration: none;
}

.logo1 {
	height: 120px;
	width: 120px;
}

main {
	margin: 0;
	background-color: #000000;
}

section {
	height: 100vh;
}

.video-wrap {
	height: 800px;
	background: none;
	overflow: hidden
}

.video-banner {
	position: relative;
	top: -170px;
	z-index: 20;
}

.banner-text {
	position: absolute;
	margin: auto;
	z-index: 30;
	bottom: 140px;
	left: 800px;
	text-align: center;
}

.logo2 {
	height: 150px;
	width: 150px;
	opacity: 0;
	animation: opacityOn 0.1s 1.5s linear 1 forwards;
}


.title2 {
	position: relative;
	font-size: 50px;
	color: var(--font-color1);
	bottom: 20px;
	opacity: 0;
	animation: opacityOn 0.1s 3.0s linear 1 forwards;
	text-shadow: var(--font-color2) 2px 0 10px;
}

.red {
	color: var(--font-color2);
}

@keyframes opacityOn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1
	}

}

#about {
	background: #b8aeae;
	background: radial-gradient(circle, rgba(184, 174, 174, 1) 0%, rgba(5, 5, 5, 1) 57%);
}

.album-info {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	font-size: 28px;
	padding-top: 250px;
	height: 80vh;
	width: 100%;


}

.album-info img {
	height: 500px;
	width: 509px;
	animation: slide-in-image;
	box-shadow: 10px 5px 5px black;
	animation-timeline: scroll();
	animation-range: 5% 50%
}

@keyframes slide-in-image {
	from {
		transform: translateX(-500%);
	}

	to {
		transform: translateX(50%);
	}
}

@keyframes slide-in-text {
	from {
		transform: translateX(500%);
	}

	to {
		transform: translateX(-50%);
	}
}

.album-info>p {
	width: 400px;
	font-size: 30px;
	animation: slide-in-text;
	animation-timeline: scroll();
	animation-range: 5% 50%;
	text-shadow: 10px 5px 5px black;
	padding-top: 100px;
	line-height: 1.5;
}

p>a>span:hover {
	color: var(--font-color1);
	cursor: pointer;
}

p>a {
	color: inherit;
	text-decoration: none;
}

.band-image {
	background: url("Resources/Band01.jpg");
	background-attachment: fixed;
	margin: 0;
	height: 50vh;
}

.band-image2 {

	background-image: url("Resources/Band02.webp");
	background-attachment: fixed;
	background-size: 100vw;
	margin: 0;
	height: 50vh;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
}

.events {
	display: block;
	margin: auto;
	width: 100%;
	padding-left: 20vw;
	padding-top: 10vh;
	animation: slide-in-events;
	animation-timeline: scroll();
	animation-range: 20% 65%
}

@keyframes slide-in-events {
	from {
		transform: translateX(-500%);
	}

	to {
		transform: translateX(0%);
	}
}

.band-image3 {
	background-image: url("Resources/Band03.webp");
	background-attachment: fixed;
	background-size: 100vw;
	margin: 0;
	height: 50vh;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
}

.container {
	display: block;
	margin: auto;
	width: 56.7vw;
	height: 78.5vh;
	padding-top: 8rem;
	overflow-x: visible;
	transform: scale(0.1);
	animation: zoom-in;
	animation-timeline: scroll();
	animation-range: 85% 100%;

}

.carousel {
	list-style: none;
	margin: 0;
	padding: 0;

	display: grid;
	gap: 3rem;
	grid-auto-flow: column;
	grid-auto-columns: 100%;
	gap: 10rem;

	overflow-x: auto;

	scroll-snap-type: x mandatory;

	anchor-name: --carousel;

	overflow-x: hidden;


	>li {
		scroll-snap-align: center;
	}

	&::scroll-button(*) {
		position: fixed;
		position-anchor: --carousel;
		margin: 1rem;
		background: none;
		color: var(--font-color2);
		border: 0;
	}

	&::scroll-button(left) {
		content: '\27A4';
		transform: rotate(180deg) scale(3);
		position-area: center left;

	}

	&::scroll-button(right) {
		content: '\27A4';
		position-area: center right;
		transform: scale(3);
	}


}

.carousel::scroll-button(right):hover {
	cursor: pointer;
	transform: scale(4);
}

.carousel::scroll-button(left):hover {
	cursor: pointer;
	transform: rotate(180deg) scale(4);
}

@keyframes zoom-in {

	from {
		transform: scale(0.1);
	}

	to {
		transform: scale(1.0);
	}

}

.video {
	border: 3px solid silver;
	line-height: 0;
}
